<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Duplicates</title>
</head>

<body>
    <div class="main">
      <div class="content">
        <div class="stats">
          stats
        </div>
        <div class="list-of-duplicates">
          list
        </div>
      </div>
    </div>
</body>

</html>